<?xml version="1.0"?>
<config>
    <modules>
        <Manticorp_SphinxSearch>
            <version>0.1.1</version>
        </Manticorp_SphinxSearch>
    </modules>
    <global>
        <blocks>
            <sphinxsearch>
                <class>Manticorp_SphinxSearch_Block</class>
            </sphinxsearch>
        </blocks>
        <helpers>
            <sphinxsearch>
                <class>Manticorp_SphinxSearch_Helper</class>
            </sphinxsearch>
        </helpers>
        <models>
            <sphinxsearch>
                <class>Manticorp_SphinxSearch_Model</class>
                <resourceModel>sphinxsearch_resource</resourceModel>
            </sphinxsearch>
            <sphinxsearch_resource>
                <class>Manticorp_SphinxSearch_Model_Resource</class>
            </sphinxsearch_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Manticorp_SphinxSearch_Model_Resource_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>
        </models>
		<resources>
			<sphinxsearch_setup>
				<setup>
					<module>Manticorp_SphinxSearch</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection><use>core_setup</use></connection>
			</sphinxsearch_setup>
			<sphinxsearch_write>
				<connection><use>core_write</use></connection>
			</sphinxsearch_write>
			<sphinxsearch_read>
				<connection><use>core_read</use></connection>
			</sphinxsearch_read>
		</resources>
    </global>
    <default>
        <sphinxsearch>
            <active>
                <frontend>0</frontend>
                <admin>0</admin>
            </active>
            <search>
                <exclude>description,short_description,meta_keywords,meta_title,tax_class_id,price,visibility,status,weight</exclude>
                <nameweight>7</nameweight>
                <skuweight>100</skuweight>
                <nameattsweight>1</nameattsweight>
                <catweight>3</catweight>
                <defaultweight>1</defaultweight>
            </search>
            <server>
                <host>localhost</host>
                <port>9312</port>
                <index></index>
            </server>
        </sphinxsearch>
    </default>
</config>
